<section class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-4xl px-6 text-center">
        <h2 class="text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl text-balance mb-10">
            Se você quer mudança, precisa de estrutura.
        </h2>
        <a routerLink="/register">
            <button
                class="bg-slate-900 text-white hover:bg-slate-800 h-11 px-8 py-4 text-lg shadow-sm rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-slate-950 disabled:pointer-events-none disabled:opacity-50">
                Criar minha conta
            </button>
        </a>
    </div>
</section>